In [211]:
name = "Amma"
print(name)

Amma

In [220]:
print("Lakshmi") # by default print go to next line
print("Eswar")
print("Lakshmi",end=" ") # end prevents print to not go to next line 
print("Eswar")

Lakshmi
Eswar
Lakshmi Eswar

In [242]:
n=100
print("power of {} is {}".format(n,n**2))
print("Sqrt of {} is {}".format(n,n**0.5))

power of 100 is 10000
Sqrt of 100 is 10.0

In [212]:
# To print numbers in increasing till n
n=10
for i in range(1,n+1):
    print(i,end=",")

1,2,3,4,5,6,7,8,9,10,

In [213]:
# To print numbers in decreasing from n to 1
n=10
for i in range(n,0,-1):
    print(i,end=",")

10,9,8,7,6,5,4,3,2,1,

In [214]:
#to print even 
n=10
for i in range(1,n):
    if i %2==0:
        print(i,end=",")

2 4 6 8

In [241]:
#to print odd 
n=10
for i in range(1,n):
    if i %2!=0:
        print(i,end=",")

1,3,5,7,9,

In [216]:
#to print prime 
n=100
for i in range(2,n):
    number_of_factors=1
    for j in range(2,int(i**0.5)+1):
        if i%j==0:
            number_of_factors +=1
            break
    if number_of_factors==1:
        print(i,end=" , ")

2 , 3 , 5 , 7 , 11 , 13 , 17 , 19 , 23 , 29 , 31 , 37 , 41 , 43 , 47 , 53 , 59 , 61 , 67 , 71 , 73 , 79 , 83 , 89 , 97 ,

In [217]:
# to print sum of numbers till n
i,s,n=1,1,100
while(s<=n):
    print("i = {} sum = {} name = {}".format(i,s,name))
    i=i+1
    s=s+i

i = 1 sum = 1 name = Amma
i = 2 sum = 3 name = Amma
i = 3 sum = 6 name = Amma
i = 4 sum = 10 name = Amma
i = 5 sum = 15 name = Amma
i = 6 sum = 21 name = Amma
i = 7 sum = 28 name = Amma
i = 8 sum = 36 name = Amma
i = 9 sum = 45 name = Amma
i = 10 sum = 55 name = Amma
i = 11 sum = 66 name = Amma
i = 12 sum = 78 name = Amma
i = 13 sum = 91 name = Amma

In [219]:
for i in range(1,int(n**0.5)):
    print("i = {} name = {}".format(i,name))

i = 1 name = Amma
i = 2 name = Amma
i = 3 name = Amma
i = 4 name = Amma
i = 5 name = Amma
i = 6 name = Amma
i = 7 name = Amma
i = 8 name = Amma
i = 9 name = Amma

In [221]:
print("Lakshmi",end=" @{;... 245 ...:}@ ") # end prevents print to not go to next line 
print("Eswar")

Lakshmi @{;... 245 ...:}@ Eswar

In [222]:
#  creates 2 D matrix
n=10
for i in range(1,n): # i is for row 
    for j in range(1,n): # j is for coloumn
        print("(i={},j={})".format(i,j),end=" # ")
    print("Ending line {} ".format(i))

(i=1,j=1) # (i=1,j=2) # (i=1,j=3) # (i=1,j=4) # (i=1,j=5) # (i=1,j=6) # (i=1,j=7) # (i=1,j=8) # (i=1,j=9) # Ending line 1
(i=2,j=1) # (i=2,j=2) # (i=2,j=3) # (i=2,j=4) # (i=2,j=5) # (i=2,j=6) # (i=2,j=7) # (i=2,j=8) # (i=2,j=9) # Ending line 2
(i=3,j=1) # (i=3,j=2) # (i=3,j=3) # (i=3,j=4) # (i=3,j=5) # (i=3,j=6) # (i=3,j=7) # (i=3,j=8) # (i=3,j=9) # Ending line 3
(i=4,j=1) # (i=4,j=2) # (i=4,j=3) # (i=4,j=4) # (i=4,j=5) # (i=4,j=6) # (i=4,j=7) # (i=4,j=8) # (i=4,j=9) # Ending line 4
(i=5,j=1) # (i=5,j=2) # (i=5,j=3) # (i=5,j=4) # (i=5,j=5) # (i=5,j=6) # (i=5,j=7) # (i=5,j=8) # (i=5,j=9) # Ending line 5
(i=6,j=1) # (i=6,j=2) # (i=6,j=3) # (i=6,j=4) # (i=6,j=5) # (i=6,j=6) # (i=6,j=7) # (i=6,j=8) # (i=6,j=9) # Ending line 6
(i=7,j=1) # (i=7,j=2) # (i=7,j=3) # (i=7,j=4) # (i=7,j=5) # (i=7,j=6) # (i=7,j=7) # (i=7,j=8) # (i=7,j=9) # Ending line 7
(i=8,j=1) # (i=8,j=2) # (i=8,j=3) # (i=8,j=4) # (i=8,j=5) # (i=8,j=6) # (i=8,j=7) # (i=8,j=8) # (i=8,j=9) # Ending line 8
(i=9,j=1) # (i=9,j=2) # (i=9,j=3) # (i=9,j=4) # (i=9,j=5) # (i=9,j=6) # (i=9,j=7) # (i=9,j=8) # (i=9,j=9) # Ending line 9

In [223]:
n=10
for i in range(1,n): # i is for row 
    for j in range(1,n): # j is for coloumn
        print("({},{})".format(i,j),end=" # ")
    print()

(1,1) # (1,2) # (1,3) # (1,4) # (1,5) # (1,6) # (1,7) # (1,8) # (1,9) #
(2,1) # (2,2) # (2,3) # (2,4) # (2,5) # (2,6) # (2,7) # (2,8) # (2,9) #
(3,1) # (3,2) # (3,3) # (3,4) # (3,5) # (3,6) # (3,7) # (3,8) # (3,9) #
(4,1) # (4,2) # (4,3) # (4,4) # (4,5) # (4,6) # (4,7) # (4,8) # (4,9) #
(5,1) # (5,2) # (5,3) # (5,4) # (5,5) # (5,6) # (5,7) # (5,8) # (5,9) #
(6,1) # (6,2) # (6,3) # (6,4) # (6,5) # (6,6) # (6,7) # (6,8) # (6,9) #
(7,1) # (7,2) # (7,3) # (7,4) # (7,5) # (7,6) # (7,7) # (7,8) # (7,9) #
(8,1) # (8,2) # (8,3) # (8,4) # (8,5) # (8,6) # (8,7) # (8,8) # (8,9) #
(9,1) # (9,2) # (9,3) # (9,4) # (9,5) # (9,6) # (9,7) # (9,8) # (9,9) #

In [224]:
n=4
for i in range(1,n): # i is for 1D
    for j in range(1,n): # j is for 2D
        for k in range(1,4+1): # k is for 3D
            print("({},{},{})".format(i,j,k),end=" # ")
        print()
    print()

(1,1,1) # (1,1,2) # (1,1,3) # (1,1,4) #
(1,2,1) # (1,2,2) # (1,2,3) # (1,2,4) #
(1,3,1) # (1,3,2) # (1,3,3) # (1,3,4) #

(2,1,1) # (2,1,2) # (2,1,3) # (2,1,4) #
(2,2,1) # (2,2,2) # (2,2,3) # (2,2,4) #
(2,3,1) # (2,3,2) # (2,3,3) # (2,3,4) #

(3,1,1) # (3,1,2) # (3,1,3) # (3,1,4) #
(3,2,1) # (3,2,2) # (3,2,3) # (3,2,4) #
(3,3,1) # (3,3,2) # (3,3,3) # (3,3,4) #

In [225]:
for i in range(1,n): # i is for row 
    for j in range(1,n): # j is for coloumn
        for k in range(1,4+1): 
            print("(i={},j={},k={})".format(i,j,k),end=" # ")
        print("Ending j={} loop".format(j))
    print("Ending i={} loop".format(i))

(i=1,j=1,k=1) # (i=1,j=1,k=2) # (i=1,j=1,k=3) # (i=1,j=1,k=4) # Ending j=1 loop
(i=1,j=2,k=1) # (i=1,j=2,k=2) # (i=1,j=2,k=3) # (i=1,j=2,k=4) # Ending j=2 loop
(i=1,j=3,k=1) # (i=1,j=3,k=2) # (i=1,j=3,k=3) # (i=1,j=3,k=4) # Ending j=3 loop
Ending i=1 loop
(i=2,j=1,k=1) # (i=2,j=1,k=2) # (i=2,j=1,k=3) # (i=2,j=1,k=4) # Ending j=1 loop
(i=2,j=2,k=1) # (i=2,j=2,k=2) # (i=2,j=2,k=3) # (i=2,j=2,k=4) # Ending j=2 loop
(i=2,j=3,k=1) # (i=2,j=3,k=2) # (i=2,j=3,k=3) # (i=2,j=3,k=4) # Ending j=3 loop
Ending i=2 loop
(i=3,j=1,k=1) # (i=3,j=1,k=2) # (i=3,j=1,k=3) # (i=3,j=1,k=4) # Ending j=1 loop
(i=3,j=2,k=1) # (i=3,j=2,k=2) # (i=3,j=2,k=3) # (i=3,j=2,k=4) # Ending j=2 loop
(i=3,j=3,k=1) # (i=3,j=3,k=2) # (i=3,j=3,k=3) # (i=3,j=3,k=4) # Ending j=3 loop
Ending i=3 loop

In [226]:
n=5
for i in range(1,n):
    for j in range(1,i+1):# j is from 1 to <= i
        for k in range(1,3+1):# k is from 1 to <= 3
            print("i = {} j = {} k = {}  name = {}".format(i,j,k,name))

i = 1 j = 1 k = 1  name = Amma
i = 1 j = 1 k = 2  name = Amma
i = 1 j = 1 k = 3  name = Amma
i = 2 j = 1 k = 1  name = Amma
i = 2 j = 1 k = 2  name = Amma
i = 2 j = 1 k = 3  name = Amma
i = 2 j = 2 k = 1  name = Amma
i = 2 j = 2 k = 2  name = Amma
i = 2 j = 2 k = 3  name = Amma
i = 3 j = 1 k = 1  name = Amma
i = 3 j = 1 k = 2  name = Amma
i = 3 j = 1 k = 3  name = Amma
i = 3 j = 2 k = 1  name = Amma
i = 3 j = 2 k = 2  name = Amma
i = 3 j = 2 k = 3  name = Amma
i = 3 j = 3 k = 1  name = Amma
i = 3 j = 3 k = 2  name = Amma
i = 3 j = 3 k = 3  name = Amma
i = 4 j = 1 k = 1  name = Amma
i = 4 j = 1 k = 2  name = Amma
i = 4 j = 1 k = 3  name = Amma
i = 4 j = 2 k = 1  name = Amma
i = 4 j = 2 k = 2  name = Amma
i = 4 j = 2 k = 3  name = Amma
i = 4 j = 3 k = 1  name = Amma
i = 4 j = 3 k = 2  name = Amma
i = 4 j = 3 k = 3  name = Amma
i = 4 j = 4 k = 1  name = Amma
i = 4 j = 4 k = 2  name = Amma
i = 4 j = 4 k = 3  name = Amma

In [227]:
n=5
for i in range(1,n):
    for j in range(1,((i+1)**2)+1):# j is from 1 to <= i**2
        for k in range(1,(n)//2):# k is from 1 to <= 3
            print("i = {} j = {} k = {}  name = {}".format(i,j,k,name),end=" # ")
        print()
    print()

i = 1 j = 1 k = 1  name = Amma #
i = 1 j = 2 k = 1  name = Amma #
i = 1 j = 3 k = 1  name = Amma #
i = 1 j = 4 k = 1  name = Amma #

i = 2 j = 1 k = 1  name = Amma #
i = 2 j = 2 k = 1  name = Amma #
i = 2 j = 3 k = 1  name = Amma #
i = 2 j = 4 k = 1  name = Amma #
i = 2 j = 5 k = 1  name = Amma #
i = 2 j = 6 k = 1  name = Amma #
i = 2 j = 7 k = 1  name = Amma #
i = 2 j = 8 k = 1  name = Amma #
i = 2 j = 9 k = 1  name = Amma #

i = 3 j = 1 k = 1  name = Amma #
i = 3 j = 2 k = 1  name = Amma #
i = 3 j = 3 k = 1  name = Amma #
i = 3 j = 4 k = 1  name = Amma #
i = 3 j = 5 k = 1  name = Amma #
i = 3 j = 6 k = 1  name = Amma #
i = 3 j = 7 k = 1  name = Amma #
i = 3 j = 8 k = 1  name = Amma #
i = 3 j = 9 k = 1  name = Amma #
i = 3 j = 10 k = 1  name = Amma #
i = 3 j = 11 k = 1  name = Amma #
i = 3 j = 12 k = 1  name = Amma #
i = 3 j = 13 k = 1  name = Amma #
i = 3 j = 14 k = 1  name = Amma #
i = 3 j = 15 k = 1  name = Amma #
i = 3 j = 16 k = 1  name = Amma #

i = 4 j = 1 k = 1  name = Amma #
i = 4 j = 2 k = 1  name = Amma #
i = 4 j = 3 k = 1  name = Amma #
i = 4 j = 4 k = 1  name = Amma #
i = 4 j = 5 k = 1  name = Amma #
i = 4 j = 6 k = 1  name = Amma #
i = 4 j = 7 k = 1  name = Amma #
i = 4 j = 8 k = 1  name = Amma #
i = 4 j = 9 k = 1  name = Amma #
i = 4 j = 10 k = 1  name = Amma #
i = 4 j = 11 k = 1  name = Amma #
i = 4 j = 12 k = 1  name = Amma #
i = 4 j = 13 k = 1  name = Amma #
i = 4 j = 14 k = 1  name = Amma #
i = 4 j = 15 k = 1  name = Amma #
i = 4 j = 16 k = 1  name = Amma #
i = 4 j = 17 k = 1  name = Amma #
i = 4 j = 18 k = 1  name = Amma #
i = 4 j = 19 k = 1  name = Amma #
i = 4 j = 20 k = 1  name = Amma #
i = 4 j = 21 k = 1  name = Amma #
i = 4 j = 22 k = 1  name = Amma #
i = 4 j = 23 k = 1  name = Amma #
i = 4 j = 24 k = 1  name = Amma #
i = 4 j = 25 k = 1  name = Amma #

In [228]:
print("hello")

hello

In [229]:
n=100
i=1
for i in range(1,n,i*2):
    i=i*2
    print("i = {} 2*i = {} name = {}".format(i,2*i,name))

i = 2 2*i = 4 name = Amma
i = 6 2*i = 12 name = Amma
i = 10 2*i = 20 name = Amma
i = 14 2*i = 28 name = Amma
i = 18 2*i = 36 name = Amma
i = 22 2*i = 44 name = Amma
i = 26 2*i = 52 name = Amma
i = 30 2*i = 60 name = Amma
i = 34 2*i = 68 name = Amma
i = 38 2*i = 76 name = Amma
i = 42 2*i = 84 name = Amma
i = 46 2*i = 92 name = Amma
i = 50 2*i = 100 name = Amma
i = 54 2*i = 108 name = Amma
i = 58 2*i = 116 name = Amma
i = 62 2*i = 124 name = Amma
i = 66 2*i = 132 name = Amma
i = 70 2*i = 140 name = Amma
i = 74 2*i = 148 name = Amma
i = 78 2*i = 156 name = Amma
i = 82 2*i = 164 name = Amma
i = 86 2*i = 172 name = Amma
i = 90 2*i = 180 name = Amma
i = 94 2*i = 188 name = Amma
i = 98 2*i = 196 name = Amma
i = 102 2*i = 204 name = Amma
i = 106 2*i = 212 name = Amma
i = 110 2*i = 220 name = Amma
i = 114 2*i = 228 name = Amma
i = 118 2*i = 236 name = Amma
i = 122 2*i = 244 name = Amma
i = 126 2*i = 252 name = Amma
i = 130 2*i = 260 name = Amma
i = 134 2*i = 268 name = Amma
i = 138 2*i = 276 name = Amma
i = 142 2*i = 284 name = Amma
i = 146 2*i = 292 name = Amma
i = 150 2*i = 300 name = Amma
i = 154 2*i = 308 name = Amma
i = 158 2*i = 316 name = Amma
i = 162 2*i = 324 name = Amma
i = 166 2*i = 332 name = Amma
i = 170 2*i = 340 name = Amma
i = 174 2*i = 348 name = Amma
i = 178 2*i = 356 name = Amma
i = 182 2*i = 364 name = Amma
i = 186 2*i = 372 name = Amma
i = 190 2*i = 380 name = Amma
i = 194 2*i = 388 name = Amma
i = 198 2*i = 396 name = Amma

In [230]:
n=100
for i in range(1,n,i**2):
    print("i = {} 2*i = {} name = {}".format(i,2*i,name))

i = 1 2*i = 2 name = Amma

In [231]:
# Generate numbers till n incresing
n,i=30,1
while(i<=n):
    print("{}".format(i),end=",")
    i=i+1

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,

In [232]:
# Generate numbers till n decresing
n,i=30,1
while(n>=i):
    print("{}".format(n),end=",")
    n=n-1

30,29,28,27,26,25,24,23,22,21,20,19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,

In [233]:
# prints odd numbers
n,i=30,1
while(i<n):
    print("{}".format(i),end=",")
    i=i+2

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,

In [234]:
# prints even numbers
n,i=30,0
while(i<n):
    print("{}".format(i),end=",")
    i=i+2

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,

In [235]:
# power of k =2
n,i,k=1024,1,2
while(i<=n):
    print("{}".format(i),end=",")
    i=i*k

1,2,4,8,16,32,64,128,256,512,1024,

In [236]:
# power of k=3
n,i,k=1024,1,3
while(i<=n):
    print("{}".format(i),end=",")
    i=i*k

1,3,9,27,81,243,729,

In [237]:
# to print log of k to base 2
n,k=1024,2
while(n>1):
    print("{}".format(n),end=",")
    n=n//k

1024,512,256,128,64,32,16,8,4,2,

In [238]:
# to print log of k to base 3
n,k=729,3
while(n>1):
    print("{}".format(n),end=",")
    n=n//k

729,243,81,27,9,3,

In [239]:
n,i=1024,1
while(i<=n):
    print("i = {} 2*i = {} name = {}".format(i,2*i,name))
    i=i*2

i = 1 2*i = 2 name = Amma
i = 2 2*i = 4 name = Amma
i = 4 2*i = 8 name = Amma
i = 8 2*i = 16 name = Amma
i = 16 2*i = 32 name = Amma
i = 32 2*i = 64 name = Amma
i = 64 2*i = 128 name = Amma
i = 128 2*i = 256 name = Amma
i = 256 2*i = 512 name = Amma
i = 512 2*i = 1024 name = Amma
i = 1024 2*i = 2048 name = Amma